@using AutocrossPublicWebApp.ViewModels;
@model EventResult
@{
    ViewData["Title"] = "Home page";

}
<style>
    .image-sec {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px; /* Space between image and search section */
    }

        .image-sec img {
            max-width: 100%; /* Ensure the image doesn't overflow */
            height: auto; /* Maintain aspect ratio */
            max-height: 400px; /* Optional: Limit maximum height */
        }
    .search-sec {
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .search-sec .container {
            max-width: 850px; /* Adjust width as needed */
            margin-right: 80px;
        }

        .search-sec .row {
            justify-content: center; /* Center horizontally */
        }

    .search-slt {
        margin: 6px 0; /* Add some spacing */
    }
</style>

<section class="image-sec">
    <img src="https://www.texasscca.org/tr/wp-content/uploads/2016/01/logo.png">
</section>
<section class="search-sec">
    <div class="container">
        <form method="post" asp-controller="Results" asp-action="Results" enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="form-control">
                            <label asp-for="Name">Name</label>
                            <input asp-for="Name" class="form-control search-slt" placeholder="LastName, FirstName">
                            <span asp-validation-for="Name" class="text-danger"></span>

                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <label asp-for="Year">Year</label>
                            <input asp-for="Year" type="number" class="form-control search-slt" placeholder="Year" min="0" step="1">
                            <span asp-validation-for="Year" class="text-danger"></span>

                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <select asp-for="PaxRaw" class="form-control search-slt" id="exampleFormControlSelect1">
                                <option value=false>Final Results</option>
                                <option value=true>Raw and Pax Results</option>
                                <span asp-validation-for="PaxRaw" class="text-danger"></span>

                            </select>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section