@page
@using AutocrossPublicWebApp.Models;
@model ReadingModel
@{
    ViewData["Title"] = "Home page";
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
}

<style>
    .image-sec {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px; /* Space between image and search section */
    }

        .image-sec img {
            max-width: 100%; /* Ensure the image doesn't overflow */
            height: auto; /* Maintain aspect ratio */
            max-height: 400px; /* Optional: Limit maximum height */
        }
    .search-sec {
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .search-sec .container {
            max-width: 850px; /* Adjust width as needed */
            margin-right: 80px;
        }

        .search-sec .row {
            justify-content: center; /* Center horizontally */
        }

    .search-slt {
        margin: 6px 0; /* Add some spacing */
    }
</style>
<section class="image-sec">
    <img src="https://www.texasscca.org/tr/wp-content/uploads/2016/01/logo.png">
</section>
<section class="search-sec">
    <div class="container">
        <form action="#" method="post" novalidate="novalidate">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="form-group">
                            <label asp-for="Name">Name</label>
                            <input asp-for="Name" class="form-control search-slt" placeholder="LastName, FirstName">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <input type="number" class="form-control search-slt" placeholder="Year" min="0" step="1">
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <select class="form-control search-slt" id="exampleFormControlSelect1">
                                <option>Final Results</option>
                                <option>Raw and Pax Results</option>
                            </select>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <a type="btn btn-success" asp-controller="Index" asp-action="Results">Search</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
